/*background*/
.back{
	background-image: url(../image/large.png);
	height: 50em;
	background-position: center;
	background-repeat: no-repeat;
}
nav{
	background-color: transparent !important;
	border: none !important;
}
.blue{
	background-color:#000000;
	opacity: 0.6;
	height: 50em;
}
.blue2{
	background-color: #3F72FA;
	height: 10em;
}
/*padding and margin*/
.pt{
	padding-top: 2%;
}
.pd{
	padding: 14% 28% 0% 26%;
}
.pd2{
	padding: 0% 18% 5% 15%;
}
.pd3{
	padding: -20% 5% 10% 0%;
}
.ml{
	margin-left: 4%;
}
.ml2{
	margin-left: 35%;
}
.ml3{
	margin-left: -6%;
}
.ml4{
	margin-left: 16%;
}
.ml5{
	 margin-left: 20%;
}
.mt{
	margin-top: 13%;
}
.mt2{
	margin-top: 5%;
}
.mt3{
	margin-top: -10%;
}
.mb{
	margin-bottom: 10%;
}
/*text*/
a{
	color: #ffffff !important;
	font-size: 16px;
}
.tw{
	color: #ffffff;
}
i, .tb{
	color: #3F72FA;
}
/*otro*/
.lado{

}
button{
	background-color: transparent;
	border-color: #ffffff !important;

}
.abajo{
	margin-left: 45%;
	margin-top: -7%;
}
.logo{
	width: 50%;
}
.img1{
	width: 110%;
	margin-left: -10%;
	margin-top: -5%;
}
.dis{
	display: inline-block;
}
.azul{
	background-color: #b3d9ff;
	border-radius: 55%;
	width: 4em;
	height: 4em;
}